body {
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

/*Navigation bar*/
.nav {
  background-color: #d52b1e;
  top: 0;
  overflow: hidden;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  color: white;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #395968;
  color: white;
}

/* Add a color to the active/current link */
.nav a.active {
  color: white;
}

/* Right-aligned section inside the top navigation */
.nav-right {
  float: right;
}

.navbar {
  background-color: #d52b1e;
  overflow: hidden;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  color: white;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 2em;
  background-color: #d52b1e;
  border: none;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #395968;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: #d52b1e;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #395968;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#dummy {
  text-decoration: none;
  font-size: 2em;
}
/*end of nav css*/

/*start of home page css*/

#home {
  background: url("../img/omid-visuals--QCaTH3O5Nk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: center;
  margin-top: 5%;
}

.hometext {
  padding: 10% 0;
}
.centered {
  text-align: center;
  font-size: 15vh;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#centered2 {
  font-family: "Libre Bodoni", serif;
  text-align: center;
  font-size: 15vh;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mas {
  margin-bottom: 10%;
}

.aboutart1 {
  text-indent: 5%;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
}
.aboutart {
  text-indent: 5%;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
/*home page responsiveness*/
@media only screen and (max-width: 768px) {
  .centered {
    text-align: center;
    font-size: 12vh;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*end of home page css*/

/*footer styling*/
.footer {
  background-color: #d52b1e;
  top: 0;
  overflow: hidden;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  color: white;
  padding: 2% 0;
}

/* Add a color to the active/current link */
.contact {
  top: 5px;
}
.footer a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

/* Right-aligned section inside the top navigation */
.footer-right {
  float: right;
  font-size: 5vh;
  margin-right: 3%;
  font-weight: 300;
}

.fa-solid,
.fa-brands {
  margin-left: 50px;
}
/*start of about page css*/
.background {
  background: url("../img/switzerland-lake-zurich-region-zurich.jpg");
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: center;
  margin-top: 5%;
  padding: 25%;
}
article {
  margin-bottom: 8%;
}
.titlebox {
  background-color: #d52b1e;
  font-family: "Libre Bodoni", serif;
  color: white;
  font-size: 15vh;
  text-align: center;
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.desktop-only {
  position: absolute;
  top: 139%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-only,
.aboutbox-mobile {
  display: none;
}

/*about page responsiveness*/
@media only screen and (max-width: 768px) {
  .mobile-only {
    display: block;
    background-color: #395968;
    color: white;
    font-size: 15vh;
    font-family: "Libre Bodoni", serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutbox-mobile {
    display: block;
    background-color: #d52b1e;
    color: white;
    font-size: 15vh;
    font-family: "Libre Bodoni", serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-only,
  .aboutbox {
    display: none;
  }
}

/*sight page css*/
.titleboxsight {
  background-color: #d52b1e;
  font-family: "Libre Bodoni", serif;
  color: white;
  font-size: 15vh;
  text-align: center;
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.imgsight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
#sight1,
#sight2,
#sight3,
#sight4,
#sight5,
#sight6,
#sight7,
#sight8,
#sight9,
#sight10 {
  padding-top: 5%;
}

.sight1title {
  position: absolute;
  top: 143%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight2title {
  position: absolute;
  top: 362%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight3title {
  position: absolute;
  top: 570%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#sight4title {
  position: absolute;
  top: 765%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight5title {
  position: absolute;
  top: 966%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight6title {
  position: absolute;
  top: 1177%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight7title {
  position: absolute;
  top: 1386%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 15vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight8title {
  position: absolute;
  top: 1593%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 10vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight9title {
  position: absolute;
  top: 1798%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 10vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight10title {
  position: absolute;
  top: 2015%;
  right: 20px;
  background-color: #395968;
  color: white;
  font-size: 10vh;
  font-family: "Libre Bodoni", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#sight10 {
  padding-bottom: 5%;
}

.sight1subtitle {
  color: #d52b1e;
  font-size: 8vh;
  margin-top: 5%;
  margin-left: 2%;
}
.sight1text {
  font-weight: bold;
  font-size: 32px;
  margin-left: 2%;
}
.sight1pricestitle {
  font-weight: bold;
  color: #d52b1e;
  font-size: 8vh;
  margin-left: 2%;
}
.sight1priceslist {
  margin-bottom: 20px;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  color: #395968;
  margin-left: 2%;
}
/*Back to top button*/
#myBtn {
  font-family: "Libre Bodoni", serif;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: #d52b1e;
  color: white;
  cursor: pointer;
  padding: 15px;
}
/*24 HOUT PAGE*/
#morningbox {
  margin-top: 5%;
  background-color: #395968;
  font-family: "Libre Bodoni", serif;
  color: white;
  font-size: 10vh;
  margin-left: 15%;
  padding: 1% 2.5% 0 7.3%;
  width: 50%;
}
.tftitle {
  border-bottom: 5px solid #d52b1e;
  width: 30%;
  margin-top: 5%;
  margin-left: 15%;
}
.tftitle1 {
  border-bottom: 5px solid #d52b1e;
  width: 20%;
  margin-top: 5%;
  margin-left: 15%;
}

.tftitle2 {
  border-bottom: 5px solid #d52b1e;
  width: 7%;
  margin-top: 5%;
  margin-left: 15%;
}
.tftitle3 {
  border-bottom: 5px solid #d52b1e;
  width: 18%;
  margin-top: 5%;
  margin-left: 15%;
}
.tftitle4 {
  border-bottom: 5px solid #d52b1e;
  width: 12%;
  margin-top: 5%;
  margin-left: 15%;
}
.tfsights {
  margin-left: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tfsights1 {
  margin-left: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.tf1text {
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  margin-left: 15%;
  width: 75%;
  padding-bottom: 2%;
}
